* {
    font-family: 'padauk';
}

a {
    text-decoration: none;
    color : gray
}

.para {
    text-align: justify;
}

.loading-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100px, -75px);
}

.loading-box > img {
    width: 200px;
    height: 150px;
}

.fixHeight {
    min-height: 500px;
}

.post-card {
    height: 420px;
}

.para-size{
    font-size: 14px;
}

.dright > h4 {
    justify-content: center;
}

.dright > p {
    text-indent: 50px;
    font-size: 14px;
    line-height: 26px;
    margin-top: 15px;
}